<!DOCTYPE html>
<html>
  <head>
    <title>Vinnie's Store</title>
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="w3-container w3-grey">

    <div class="w3-bar">
      <a href="/static_pages/home" class="w3-bar-item w3-button w3-border w3-black">Home</a>
      <a href="/static_pages/help" class="w3-bar-item w3-button w3-border w3-black">Help</a>
      <a href="/static_pages/about" class="w3-bar-item w3-button w3-border w3-black">About</a>
      <a href="/" class="w3-bar-item w3-button w3-border w3-black">Store</a>
      <a href="/carts" class="w3-bar-item w3-button w3-border w3-black">Carts</a>      
      <a href="/admin" class="w3-bar-item w3-button w3-border w3-red">Login</a>
      
      <% if session[:user_id] %>
      <a href="/users" class="w3-bar-item w3-button w3-border w3-aqua">Users</a>
      <a href="/orders" class="w3-bar-item w3-button w3-border w3-aqua">Orders</a>
      <a href="/line_items" class="w3-bar-item w3-button w3-border w3-aqua">LineItems</a>
      <a href="/products" class="w3-bar-item w3-button w3-border w3-aqua">Products</a>
      <%= button_to 'Logout', logout_path, method: :delete %>
      
      
      
      <% end %>
    
    </div>

   <div class="w3-container">
    <%= yield %>
   </div>    

  </body>
</html>
